 <div class="overflow-x-auto mt-5">
    <table class="table table-xs">
      <thead>
        <tr>
          <th>Bandera</th>
          <th>Nombre</th>
          <th>Capital</th>
          <th>Población</th>
          <th>Región</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <img
              src="https://flagcdn.com/fr.svg"
              alt="Bandera de Francia"
              class="w-10 h-auto object-contain"
            />
          </td>
          <td>Francia</td>
          <td>París</td>
          <td>65,273,511</td>
          <td>Europa</td>
        </tr>
        <tr>
          <td>
            <img
              src="https://flagcdn.com/de.svg"
              alt="Bandera de Alemania"
              class="w-10 h-auto object-contain"
            />
          </td>
          <td>Alemania</td>
          <td>Berlín</td>
          <td>83,240,000</td>
          <td>Europa</td>
        </tr>
        <tr>
          <td>
            <img
              src="https://flagcdn.com/jp.svg"
              alt="Bandera de Japón"
              class="w-10 h-auto object-contain"
            />
          </td>
          <td>Japón</td>
          <td>Tokio</td>
          <td>125,800,000</td>
          <td>Asia</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Bandera</th>
          <th>Nombre</th>
          <th>Capital</th>
          <th>Población</th>
          <th>Región</th>
        </tr>
      </tfoot>
    </table>
  </div>